@CHARSET "UTF-8";

h2 {
	font-size: xx-large;
	border: 2px solid #808000;
	border-radius: 30px;
}

.busi h2 {
	text-align: center;
	border-width: 50%
}

.manage h2 {
	border-width: 50%
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #0000ff;
}

li {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 50px;
	line-height: 230%;
}

a {
	text-decoration: none;
	display: block;
	width: 100%;
}

a:LINK {
	color: #0000ff;
}

a:HOVER {
	color: #4169e1;
}

div.busi {
	text-align: center;
	float: left;
	width: 45%;
}

div.manage {
	text-align: center;
	float: right;
	width: 45%;
	padding-left: 10px;
}

p {
	text-align: left;
	padding-top: 41%;
	padding-left: 5%;
	font-weight: bold;
	text-decoration: underline;
}