@CHARSET "UTF-8";

body {
	background-color: #dfdfdf;
	text-align: center;
}

.main {
	margin: 0 auto;
}

h2 {
	font-family: sans-serif;
}

table {
	margin: auto;
}

.subm {
	width: 90px;
	height: 40px;
	font-size: 25px;
}

.menu {
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
	text-decoration: underline;
}