@CHARSET "UTF-8";

div {
	margin: 0 auto;
}

table {
	margin: auto;
	margin-top: 120px;
	border: 2px solid black;
	border-collapse: collapse;
	font-size: 30px;
}

td {
	border: 2px solid black;
}

td.user {
	background-color: #ff4500;
	padding: 15px 20px;
	font-weight: bold;
	color: white;
}

td.pass {
	background-color: #ff4500;
	padding: 15px 20px;
	font-weight: bold;
	color: white;
}

td.usertext {
	background-color: #ffffff;
}

td.passtext {
	background-color: #ffffff;
}